@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-950 text-white;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}

.animate-slideUp {
  animation: slideUp 0.8s ease forwards;
}

.animate-slideUp.delay-100 {
  animation-delay: 0.1s;
}

.animate-slideUp.delay-200 {
  animation-delay: 0.2s;
}

.animate-slideUp.delay-300 {
  animation-delay: 0.3s;
}

.animate-slideUp.delay-400 {
  animation-delay: 0.4s;
}
